<!DOCTYPE html>
<html lang="fr" class="h-100">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="alternate" type="application/atom+xml" title="{{$config.nom_asso}}" href="atom.xml" />
    
    <title>{{if $title}}{{$title}} — {{/if}}{{$config.nom_asso}}</title>
    
    <meta name="description" content="<?= $tpl['description'] ?>">
    <meta name="keywords" content="tauto-école,auto-école,autogérée,autogestion,nantes,mutualisation,permis,code">
    <meta property="og:title" content="<?= $tpl['title'] ?>">
    <meta property="og:image" content="img/logo-01.png">
    <meta property="og:description" content="<?= $tpl['description'] ?>">
    
    <link rel="stylesheet" type="text/css" href="bootstrap.css" media="all" />
    <link rel="stylesheet" type="text/css" href="default.css" media="all" />
    
    <link rel="shortcut icon" href="img/favicon/favicon.ico">
    <link rel="icon" sizes="16x16 32x32 64x64" href="img/favicon/favicon.ico">
</head>
<body class="d-flex flex-column">

    <img src="{{$root_url}}img/kraft-bg.gif" class="d-none" alt="Pré-chargement fond">
    <!-- ** Desktop nav ** -->
    <header class="d-none d-md-block">
        <div></div>
        <a href="{{$root_url}}">
            <img src="{{$root_url}}img/banner-lg.png" alt="Bannière tauto-école">
        </a>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="-10 0 250 200" class="desktop-nav" id="p1">
            <g transform="rotate(-10) translate(-15 20)">
                <rect x=76 height=180 width=5 class="poteau" />
                <defs>
                    <path id="pane" d="m 20,5
                    v 30 h 120
                    l 30,-15
                    l -30,-15 z" />
                </defs>

                <a href="/" title="Permis">
                    <g id="permis" class="pane{{if $current == 'home'}} bleu{{/if}}" transform="translate(2 11) rotate(-4)">
                        <use href="#pane" />
                        <text x=35 y=28>Accueil</text>
                    </g>
                </a>
                <a href="permis" title="Permis">
                    <g id="contact" class="pane{{if $current == 'permis'}} bleu{{/if}}" transform="rotate(3) translate(5 43)">
                        <use href="#pane" transform="scale(0.9 1) rotate(180) translate(-157 -43)"/>
                        <text x=35 y=30>Permis</text>
                    </g>
                </a>
                <a href="fonctionnement" title="Contact">
                    <g id="contact" class="pane{{if $current == 'fonctionnement'}} bleu{{/if}}" transform="translate(-6 90) rotate(-0)">
                        <use href="#pane" transform="scale(1.32 1)"/>
                        <text x=35 y=28>Fonctionnement</text>
                    </g>
                </a>
            </g>
        </svg>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 220 200" class="desktop-nav" id="p2">
            <g transform="rotate(10) translate(15 -10)">
                <rect x=70 y=20 height=150 width=5 class="poteau" />
                
                <a href="ressources" title="Ressources">
                    <g id="contact" class="pane{{if $current == 'ressources'}} bleu{{/if}}" transform="translate(-6 35) rotate(-4)">
                        <use href="#pane" transform="scale(1.1 1)"/>
                        <text x=32 y=28>Ressources</text>
                    </g>
                </a>
                <a href="contact" title="Contact">
                    <g id="contact" class="pane{{if $current == 'contact'}} bleu{{/if}}" transform="rotate(0) translate(5 74)">
                        <use href="#pane" />
                        <text x=35 y=28>Contact</text>
                    </g>
                </a>
            </g>
        </svg>
    </header>
    <!-- ** Responsive nav ** -->
    <a href="{{$root_url}}">
        <header class="d-block d-md-none small">
            <img src="{{$root_url}}img/banner-sm-top.png" alt="Bannière tauto-école">
        </header>
        <header class="d-block d-md-none sticky">
            <img src="{{$root_url}}img/banner-sm-bottom.png" alt="Bannière tauto-école">

            <nav class="navbar navbar-dark d-md-none">
                <a class="navbar-brand" href="#"></a>

                <div class="navbar-collapse collapse bg-dark" id="main-navbar">
                    <div class="collapsible">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item{{if $current == 'home'}} bleu{{/if}}">
                                <a class="nav-link" href="/">
                                    <span>Accueil</span><span>&nbsp;</span>
                                </a>
                            </li>
                            <li class="nav-item{{if $current == 'permis'}} bleu{{/if}}">
                                <a class="nav-link" href="permis">
                                    <span>Permis</span><span>&nbsp;</span>
                                </a>
                            </li>
                            <li class="nav-item{{if $current == 'fonctionnement'}} bleu{{/if}}">
                                <a class="nav-link" href="fonctionnement">
                                    <span>Fonctionnement</span><span>&nbsp;</span>
                                </a>
                            </li>
                            <li class="nav-item{{if $current == 'ressources'}} bleu{{/if}}">
                                <a class="nav-link" href="ressources">
                                    <span>Ressources</span><span>&nbsp;</span>
                                </a>
                            </li>
                            <li class="nav-ite{{if $current == 'contact'}} bleu{{/if}}m">
                                <a class="nav-link" href="contact">
                                    <span>Contact</span><span>&nbsp;</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>

            <button onclick="toggleCollapse('main-navbar')" class="navbar-toggler collapsed">
                <span class="navbar-toggler-icon"></span>
            </button>

        </header>
    </a>

    <div class="container" style="padding: 0;">
        <div class="alert alert-secondary">


{{*Dates de réus*}}

{{#articles uri="dates" order="published DESC" future=false limit=1}}
     <p>{{ $content|raw }}</p>
     <small>Dernière mise à jour le {{ $published|relative_date }}</small>
{{/articles}}


        </div>
    </div>
    
<section>
