<?xml version="1.0" encoding="UTF-8"?>
{{#articles where="AND id = 8"}}
<entry>
        <title>{{$title|xml_escape}}</title>
        <id>{{$url|xml_escape}}</id>
        <updated>{{$modified|date_long:true}}</updated>    
        <content type="html">
            {{$html|raw}}
        </content>
</entry>
{{/articles}}