@font-face {
  font-family: "cutrims";
  src: url("fonts/cutrims_regular-webfont.woff") format("woff"), url("fonts/cutrims_regular-webfont.woff2") format("woff2"), url("fonts/cutrims_regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
body {
  background-image: url(img/kraft-bg.gif);
  background-repeat: repeat;
  background-size: 100%;
  min-height: 100%; }
  @media (max-width: 1199.98px) {
    body {
      background-size: 150%; } }
  @media (max-width: 991.98px) {
    body {
      background-size: 180%; } }
  @media (max-width: 767.98px) {
    body {
      background-size: 270%; } }

.navbar {
  position: relative;
  top: -23px;
  z-index: -10 !important;
  padding: 0; }

header button.navbar-toggler {
  z-index: 1200;
  position: absolute;
  top: 5vw;
  right: 0;
  padding: 0.5vw;
  border-radius: 0.1rem;
  background-color: rgba(88, 88, 88, 0.8);
  transition: background-color 0.2s; }
  header button.navbar-toggler:hover, header button.navbar-toggler:active {
    background-color: #787878;
    transition: background-color 0.2s; }
  header button.navbar-toggler:not(:active) {
    animation: nav-rotate 0.5s; }

@keyframes nav-rotate {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(180deg); } }
.navbar-toggler-icon {
  min-width: 28px;
  min-height: 28px;
  width: 6.5vw;
  height: 6.5vw;
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(255, 255, 255, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e"); }

#main-navbar {
  background-color: #80614de0 !important; }

.active > .nav-link {
  color: #666 !important; }

.navbar-nav {
  padding: calc(0.9rem - 12px) 0 0.5rem 0; }

.nav-item {
  padding: 0rem 0rem;
  display: inline-block;
  margin: 0rem 0rem 0rem 0.4rem; }
  .nav-item::before {
    content: "";
    width: 12px;
    height: 6px;
    background: #cacaca;
    position: relative;
    right: -33px;
    display: block;
    border: 2px solid #0d0d0d;
    border-top: none;
    border-bottom: none; }
  .nav-item:first-child::before {
    height: 20px; }

.navbar-dark .navbar-nav .nav-link {
  padding: 0 0;
  color: black; }
  .navbar-dark .navbar-nav .nav-link > span {
    display: inline-block; }
  .navbar-dark .navbar-nav .nav-link > span:first-child {
    background-color: white;
    padding: 0.3rem 4%;
    border: black solid 3px;
    border-radius: 0.2rem 0 0 0.2rem;
    border-right: none;
    width: calc(100% - 30px - 0.5rem); }
  .navbar-dark .navbar-nav .nav-link > span:last-child {
    width: 30px;
    padding: 0.5rem 0;
    z-index: -10;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100'%3E%3Cdefs%3E%3CclipPath id='clip'%3E%3Cpath d='M 0,0 100,50 0,100'/%3E%3C/clipPath%3E%3C/defs%3E%3Cpath d='M 0,0 100,50 0,100' clip-path='url(%23clip)' fill='white' stroke='black' stroke-width='14'/%3E%3C/svg%3E"); }

.nav-item:hover .nav-link > span:first-child,
.nav-item:active .nav-link > span:first-child {
  color: #000;
  background-color: rgb(220,220,220); }

.nav-item:hover .nav-link > span:last-child,
.nav-item:active .nav-link > span:last-child {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100'%3E%3Cdefs%3E%3CclipPath id='clip'%3E%3Cpath d='M 0,0 100,50 0,100'/%3E%3C/clipPath%3E%3C/defs%3E%3Cpath d='M 0,0 100,50 0,100' clip-path='url(%23clip)' fill='rgb(220,220,220)' stroke='black' stroke-width='14'/%3E%3C/svg%3E"); }

.nav-item.bleu .nav-link > span:first-child,
.nav-item.bleu .nav-link > span:first-child {
  color: #fff;
  background-color: rgb(52,108,208); }

.nav-item.bleu .nav-link > span:last-child,
.nav-item.bleu .nav-link > span:last-child {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100'%3E%3Cdefs%3E%3CclipPath id='clip'%3E%3Cpath d='M 0,0 100,50 0,100'/%3E%3C/clipPath%3E%3C/defs%3E%3Cpath d='M 0,0 100,50 0,100' clip-path='url(%23clip)' fill='rgb(52,108,208)' stroke='black' stroke-width='14'/%3E%3C/svg%3E"); }

.nav-item.bleu:hover .nav-link > span:first-child,
.nav-item.bleu:active .nav-link > span:first-child {
  color: #fff;
  background-color: rgb(44, 90, 170); }

.nav-item.bleu:hover .nav-link > span:last-child,
.nav-item.bleu:active .nav-link > span:last-child {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100'%3E%3Cdefs%3E%3CclipPath id='clip'%3E%3Cpath d='M 0,0 100,50 0,100'/%3E%3C/clipPath%3E%3C/defs%3E%3Cpath d='M 0,0 100,50 0,100' clip-path='url(%23clip)' fill='rgb(44, 90, 170)' stroke='black' stroke-width='14'/%3E%3C/svg%3E"); }

header img {
  width: 100%; }
header.sticky {
  position: sticky;
  top: 0px;
  z-index: 1100; }

.container {
  overflow: hidden; }

section {
  margin-bottom: 2rem; }

section .container {
  background-color: rgba(255, 255, 255, 0.6);
  margin-top: 1em;
  margin-bottom: 1em; }
section .container > p, section .container > ul,
section .container .web-content > p, section .container .web-content > ul {
  margin-left: 2rem;
  margin-right: 2rem; }
@media (max-width: 1199.98px) {
  section .container > p, section .container > ul,
  section .container .web-content > p, section .container .web-content > ul {
    margin-left: 0rem;
    margin-right: 0rem; }
}
section .container:last-child {
  padding-bottom: 3rem; }

.nouvelles p {
	margin-bottom: 0;
}
.nouvelles .web-content {
	margin-bottom: 1.0em;
}

#features svg {
  position: absolute;
  top: 0;
  z-index: 20; }
  #features svg text {
    font-family: "cutrims", sans-serif;
    font-size: 2em;
    paint-order: stroke;
    stroke-width: 0px;
    fill: white;
    stroke: black; }
#features img {
  z-index: 10;
  width: 100%;
  transition: transform 0.2s, filter 0.2s; }
#features img.small {
  border-bottom: white 2px solid; }

.feature {
  padding: 0;
  overflow: hidden; }

.feature:hover img {
  transform: scale(1.04);
  filter: blur(6px);
  transition: transform 0.2s, filter 0.1s; }

.img-center {
	display: block;
	margin: auto;
	width: 100%;
	max-width: max-content;
}
footer {
  padding: 0.5em 0; }
  footer p {
    margin: 0; }

h1, h2 {
  margin: 0.6em 0 0.4em;
  text-align: center !important; }

h1 {
  font-family: cutrims, roboto, sans-serif; }
  @media (max-width: 767.98px) {
    h1 {
      font-size: 2rem; } }
  @media (max-width: 575.98px) {
    h1 {
      font-size: 1.75rem; } }

@media (min-width: 576px) {
  h2::before, h2::after {
    content: "";
    display: inline-block;
    position: relative;
    vertical-align: middle;
    height: 1px;
    width: 12%;
    background-color: #000; }
  h2::before {
    right: 0.5em;
    margin-left: -50%; }
  h2::after {
    left: 0.5em;
    margin-right: -50%; } }

p {
  text-indent: 2em;
  margin-bottom: 1.5em; }

blockquote {
  font: 14px/22px normal helvetica, sans-serif;
  margin: 10px 50px;
  padding: 15px;
  border-left: 3px solid #ccf;
  background: #ccf5;
  font-style: italic; }

.alert p {
	text-indent: 0;
	margin-bottom: 0.0em;
}

.navbar-collapse {
  display: flex;
  overflow: hidden; }

.show {
  opacity: 1;
  transition: opacity 0.3s; }

.collapse:not(.show) {
  opacity: 0;
  transition: opacity 0.3s;
  display: initial; }

.collapsible {
  width: 100%; }

.show > .collapsible {
  margin-bottom: 0;
  max-height: 1000000px;
  transition: opacity 0.1s, margin-bottom 0.3s; }

.collapse:not(.show) > .collapsible {
  margin-bottom: -400px;
  visibility: hidden;
  max-height: 0;
  transition: margin-bottom 0.3s, visibility 0.2s, max-height 0.2s, opacity 0.3s; }

header > div {
  height: 30px; }

svg.desktop-nav {
  width: 16%;
  position: absolute;
  top: 10px;
  stroke-width: 1.5px; }
  svg.desktop-nav a {
    text-decoration: none; }
  svg.desktop-nav .poteau {
    fill: grey;
    stroke: black;
    stroke-width: 1px; }
  svg.desktop-nav .pane use {
    fill: white;
    stroke: black; }
  svg.desktop-nav .pane:hover use {
    fill: rgb(220,220,220); }
  svg.desktop-nav .pane text {
    font-size: 1.3rem; }
  svg.desktop-nav .bleu use {
    fill: rgb(52,108,208); }
  svg.desktop-nav .bleu text {
    fill: white; }
  svg.desktop-nav .bleu:hover use {
    fill: rgb(44, 90, 170); }

#p1 {
  width: 17%;
  left: 18vw; }

#p2 {
  right: 18vw; }

/*# sourceMappingURL=style.css.map */
